.main-background {
  background-color: #133e3e;
  background-style: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: left;
  color: #ffffff;
  font-family: papyrus;
}

nav {
  text-align: right;
  margin-top: -60px;
} /* navigation is the links with pictures */

img {
  height: 25px;
  width: 25px;
}

.img-git {
  height: 25px;
  width: 28px;
}

.img-self{
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

h2{
  text-align: left;
  color: #ffffff;
  font-family: papyrus;
  margin: 20px auto auto auto;
}
.article{
  font-family: 'comic sans ms';
  color: #ffffff;
}

h3 {
  text-align: center;
  text-spacing: 3px;
  
}

.h3-about {
  text-align: center;
  text-spacing: 3px;
}

.about {
  margin: auto auto auto auto;
  color: #ffffff;
  padding: none;
}

.p-intro {
  text-align: center;
}
hr{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
}
.p-about {
  text-align: center;
}

.para {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}


ul {
  display: table;
  margin: auto auto 5px auto;
  text-align: center;
} /* need to center...had to google how...*/

ul li{
  list-text-position: inside;
}

.footer-main {
  text-align: center;
  text-color: white;
}

ol {
  display: table;
  margin: 0 auto;
  text-align: center;
}
ol li {
  list-text-position: inside;
}

footer {
  height: 50px;
  margin-bottom: auto;
  text-color: white;
} /* footer won't change text color????*/


  a:link {color: #ececac;}
  a:visited {color: #6aa06a;}
  a:hover {color: #c7bb75;}
  a:active {color: white;}

